<h3>Welcome</h3>
<p>this will be the home page</p>
<table class="table">
  <tr>
    <th>col 1</th>
    <th>col 2</th>
  </tr>
  <tr>
    <td>row one column one</td>
    <td>row one column two</td>
  </tr>
</table>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      1 of 2 (stacked on mobile)
    </div>
    <div class="col-xs-12 col-sm-6">
      1 of 2 (stacked on mobile)
    </div>
  </div>
</div>
