<%# add navigation links to this file %>
<li class='nav-item'>
  <% if @is_admin %>
      <%= link_to 'Admin', admin_path, class: 'nav-link' %>
  <% end %>

</li>
<li class='nav-item' style="float:right;">
  <% if session[:user_id] != nil %>
      <%= link_to("Logout", access_logout_path) %>
  <% else %>
      <%= link_to("login", access_login_path) %>
  <% end %>
</li>