<%# add navigation links to this file %>
<li class='nav-item'></li>
<li class='nav-item'><%= link_to 'Admin', admin_path, class: 'nav-link' %></li>
<li class='nav-item' style="float: right!important;"><%= link_to "Logout", access_logout_path, class: 'nav-link' %></li>
